CONTAINER_NAME=flagsmith-compose-check
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8000
PANEL_DB_HOST=
PANEL_DB_PORT=5432
PANEL_DB_NAME=flagsmith
PANEL_DB_USER=flagsmith
PANEL_DB_USER_PASSWORD=
DJANGO_SECRET_KEY=generate
FLAGSMITH_DOMAIN=localhost:8000
FLAGSMITH_ALLOWED_HOSTS=*
PREVENT_SIGNUP=false
