CONTAINER_NAME=cli-proxy-api-compose-check
PANEL_APP_PORT_HTTP=8317
PANEL_APP_PORT_8085=8085
PANEL_APP_PORT_1455=1455
PANEL_APP_PORT_54545=54545
PANEL_APP_PORT_51121=51121
PANEL_APP_PORT_11451=11451
DEPLOY=
