PANEL_APP_PORT_HTTP=8080
APP_DATA_DIR=./data
PANEL_DB_TYPE=mariadb
PANEL_DB_HOST=mariadb
PANEL_DB_PORT=3306
PANEL_DB_NAME=romm
PANEL_DB_USER=romm-user
PANEL_DB_USER_PASSWORD=replace-with-a-strong-password
ROMM_AUTH_SECRET_KEY=replace-with-openssl-rand-hex-32
HASHEOUS_API_ENABLED=true
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=
TZ=Asia/Shanghai
CONTAINER_NAME=romm-compose-check
