CONTAINER_NAME="openclaw"
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_CONFIG_DIR="./data/conf"
OPENCLAW_GATEWAY_BIND="lan"
OPENCLAW_GATEWAY_TOKEN="xxxxxxxxxxxxxxxxx"
OPENCLAW_MODE="local"
OPENCLAW_WORKSPACE_DIR="./data/workspace"
PANEL_APP_PORT_HTTP=18789
