CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
PANEL_APP_PORT_HTTPS=443
CONFIG_PATH=./data/config
DB_PASSWORD=kimai-change-me
APP_SECRET=
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
TRUSTED_HOSTS=.*
TRUSTED_PROXIES=127.0.0.1/32
