CONTAINER_NAME=vikunja-compose-check
PANEL_APP_PORT_HTTP=3456
VIKUNJA_SERVICE_SECRET=generate
VIKUNJA_SERVICE_PUBLICURL=
VIKUNJA_CORS_ENABLE=false
VIKUNJA_SERVICE_ENABLEREGISTRATION=true
APP_DATA_DIR=./data
