CONTAINER_NAME=
DOCKER_SOCK_PATH=/var/run/docker.sock
LOG_LEVEL=info
CONTAINERS=0
IMAGES=0
NETWORKS=0
VOLUMES=0
POST=0
ALLOW_START=0
ALLOW_STOP=0
ALLOW_RESTARTS=0
ALLOW_PAUSE=0
ALLOW_UNPAUSE=0
AUTH=0
BUILD=0
COMMIT=0
CONFIGS=0
DISABLE_IPV6=0
DISTRIBUTION=0
EVENTS=1
EXEC=0
INFO=0
NODES=0
PING=1
PLUGINS=0
SECRETS=0
SERVICES=0
SESSION=0
SWARM=0
SYSTEM=0
TASKS=0
VERSION=1
TIME_ZONE=Asia/Shanghai
