CONTAINER_NAME="sub2api"
PANEL_APP_PORT_HTTP="8080"
TZ="Asia/Shanghai"
SERVER_MODE="release"
RUN_MODE="standard"
PANEL_DB_TYPE="postgresql"
PANEL_DB_HOST=""
PANEL_DB_NAME="sub2api"
PANEL_DB_USER="sub2api"
PANEL_DB_PORT="5432"
PANEL_DB_USER_PASSWORD=""
REDIS_HOST=""
REDIS_PORT="6379"
PANEL_REDIS_ROOT_PASSWORD=""
REDIS_DB="0"
ADMIN_EMAIL="admin@sub2api.local"
ADMIN_PASSWORD=""
JWT_SECRET=""
TOTP_ENCRYPTION_KEY=""
UPDATE_PROXY_URL=""
APP_DATA_DIR_1="./data"
