PANEL_APP_PORT_HTTP=3000
PANEL_DB_HOST=postgresql
PANEL_DB_PORT=5432
PANEL_DB_NAME=prest
PANEL_DB_USER=prest
PANEL_DB_USER_PASSWORD=prest
PREST_PG_SSL_MODE=disable
PREST_JWT_KEY=generate
CONTAINER_NAME=prest
