CONTAINER_NAME=
PANEL_APP_PORT_HTTP=3214
CONFIG_PATH=./data/config
LIBRARIES_PATH=./data/libraries
REDIS_DATA_PATH=./data/redis
DATABASE_URL=sqlite3:/config/manyfold.sqlite3
SECRET_KEY_BASE=b5a7a9e5b4254b3b8c858e733ecf50551819204cc8f7065f6810217202308a6f
REDIS_URL=redis://manyfold-redis:6379/0
TIME_ZONE=Asia/Shanghai
