CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
CONFIG_PATH=./data/config
PICTURES_PATH=./data/pictures
TIME_ZONE=Asia/Shanghai
APP_NAME=Lychee
APP_URL=
TRUSTED_PROXIES=
DB_CONNECTION=sqlite
DB_DATABASE=/config/lychee.sqlite
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
