CONTAINER_NAME="x-crw"
PANEL_APP_PORT_HTTP="13000"
CRW_SEARCH__ENABLED="true"
CRW_SEARCH__SEARXNG_URL="http://crw-searxng:8080"
SEARXNG_SECRET_KEY="31d79c8e72cf6c356b689f9b0f25883564929c54c88e6d1af4452919f26e2ef6"
CRW_AUTH__API_KEYS=""
CRW_EXTRACTION__LLM__PROVIDER=""
CRW_EXTRACTION__LLM__API_KEY=""
CRW_EXTRACTION__LLM__MODEL=""
CRW_EXTRACTION__LLM__BASE_URL=""
