CONTAINER_NAME=oxicloud-compose-check
PANEL_APP_PORT_HTTP=8086
PANEL_DB_HOST=
PANEL_DB_PORT=5432
PANEL_DB_NAME=oxicloud
PANEL_DB_USER=oxicloud
PANEL_DB_USER_PASSWORD=oxicloud
APP_DATA_DIR=./data
OXICLOUD_BASE_URL=http://localhost:8086
OXICLOUD_DISABLE_REGISTRATION=false
