CONTAINER_NAME=
PANEL_APP_PORT_HTTP=3000
PANEL_APP_PORT_HTTPS=3001
CONFIG_PATH=./data/config
TIME_ZONE=Asia/Shanghai
CUSTOM_USER=admin
PASSWORD=linuxserver-change-me
TITLE=QDirStat
SELKIES_UI_TITLE=Selkies
DASHBOARD=selkies-dashboard
LC_ALL=zh_CN.UTF-8
DATA_PATH=./data/scan
