CONTAINER_NAME=
PANEL_APP_PORT_HTTP=5050
CONFIG_PATH=./data/config
DOWNLOADS_PATH=./data/downloads
TIME_ZONE=Asia/Shanghai
FG_LOG_LEVEL=info
FG_LOG_FILE=/config/flexget.log
FG_CONFIG_FILE=/config/.flexget/config.yml
FG_WEBUI_PASSWORD=linuxserver-change-me
