CONTAINER_NAME=immich-kiosk
PANEL_APP_BIND_ADDRESS=0.0.0.0
PANEL_APP_PORT_HTTP=40098
KIOSK_IMMICH_URL=http://immich-server:2283
KIOSK_IMMICH_API_KEY=replace-with-an-immich-api-key
KIOSK_IMMICH_EXTERNAL_URL=
TIME_ZONE=Asia/Shanghai
KIOSK_DURATION=60
KIOSK_ALBUMS=
KIOSK_SHOW_TIME=false
KIOSK_LAYOUT=single
