CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8000
PANEL_APP_PORT_SMTP=2525
CONFIG_PATH=./data/config
SECRET_KEY=
SITE_ROOT=http://127.0.0.1:8000
SITE_NAME=Healthchecks
ALLOWED_HOSTS=
APPRISE_ENABLED=False
CSRF_TRUSTED_ORIGINS=
INTEGRATIONS_ALLOW_PRIVATE_IPS=False
HEALTHCHECKS_DEBUG=False
PING_EMAIL_DOMAIN=
RP_ID=
SITE_LOGO_URL=
DEFAULT_FROM_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=
TIME_ZONE=Asia/Shanghai
