CONTAINER_NAME=wastebin-compose-check
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8088
WASTEBIN_BASE_URL=http://127.0.0.1:8088
WASTEBIN_HTTP_TIMEOUT=5
WASTEBIN_MAX_BODY_SIZE=1048576
WASTEBIN_PASSWORD_SALT=generate
WASTEBIN_PASTE_EXPIRATIONS=0=d,10m,1h,1d,1w,1M,1y
WASTEBIN_SIGNING_KEY=generate
WASTEBIN_THEME=ayu
WASTEBIN_TITLE=Wastebin
APP_DATA_DIR=./data
